<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CentreProDataIntegration.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CentreProDataIntegration.My.MySettings>
            <setting name="conCentreProMaster" serializeAs="String">
                <value>Data Source=SCAFELL\SQLEXPRESS2017;Initial Catalog=CentrePro_Master;Integrated Security=True;MultipleActiveResultSets=true</value>
            </setting>
            <setting name="conIntermediate" serializeAs="String">
                <value>Data Source=SCAFELL\SQLEXPRESS2017;Initial Catalog=CentrePro_Intermediate;Integrated Security=True;MultipleActiveResultSets=true</value>
            </setting>
            <setting name="conTridentCounrt" serializeAs="String">
                <value>Data Source=SCAFELL\SQLEXPRESS2017;Initial Catalog=CentrePro_UM_1282;Integrated Security=True;MultipleActiveResultSets=true</value>
            </setting>
            <setting name="conServerOnly" serializeAs="String">
                <value>Data Source=SCAFELL\SQLEXPRESS2017;uid=sa;pwd=Spyplane1;database=</value>
            </setting>
            <setting name="conStage2" serializeAs="String">
                <value>Data Source=SCAFELL\SQLEXPRESS2017;Initial Catalog=CentrePro_Stage2;Integrated Security=True;MultipleActiveResultSets=true</value>
            </setting>
        </CentreProDataIntegration.My.MySettings>
    </userSettings>
</configuration>